CLOUDFLARE_TUNNEL_TOKEN=eyJhIjoxxxxx
DOCKER_PATH=/volume1/docker
MEDIA_PATH=/volume2/Media
SONARR_API_KEY=6e7bff3xxxxxx
RADARR_API_KEY=5eabcxxxxxx
PLEX_TOKEN=Eu5xGSBxxxx
DB_IMMICH_USERNAME=immich
DB_IMMICH_PASSWORD=pepito3000
DB_IMMICH_DATABASE_NAME=immich
SETTINGS_ENCRYPTION_KEY=xxxx
FILES_PATH=/volume1/Archivos
POSTGRES_USER=developer
POSTGRES_PASSWORD=9Zxxxx
DAVINCI_DB=DaVinci
POSTGRES_HOST=postgres-db