CLOUDFLARE_TUNNEL_TOKEN=eyJhIjoxxxxx
DOCKER_PATH=/volume1/docker
MEDIA_PATH=/volume2/Media
SONARR_API_KEY=6e7bff3xxxxxx
RADARR_API_KEY=5eabcxxxxxx
PLEX_TOKEN=Eu5xGSBxxxx
DB_IMMICH_USERNAME=immich
DB_IMMICH_PASSWORD=pepito3000
DB_IMMICH_DATABASE_NAME=immich
SETTINGS_ENCRYPTION_KEY=xxxx
FILES_PATH=/volume1/Archivos
POSTGRES_USER=developer
POSTGRES_PASSWORD=9Zxxxx
DAVINCI_DB=DaVinci
MINIO_ROOT_USER=minio-root
MINIO_ROOT_PASSWORD=xxxx
MINIO_K3S_ACCESS_KEY=k3s-etcd
MINIO_K3S_SECRET_KEY=xxxx
MINIO_K3S_BUCKET=k3s-etcd
JWLIBRARY_BACKUPS_PATH="/volume1/Archivos/opencloud/storage/users/users/934c2b07-76cc-49eb-8738-fc4ed171f4f3/4 Archives/Backup/Jw Library"
JWLIBRARY_NOTES_PATH="/volume1/Archivos/opencloud/storage/users/users/934c2b07-76cc-49eb-8738-fc4ed171f4f3/3 Resources/Notas JW"
