# Para setear las variables de entorno, ejecutar:
# set -a
# source .env
# set +a

RANCHER_URL=https://
RANCHER_HOSTNAME=vm5.
RANCHER_TOKEN=hqs5rzzs72
RANCHER_CA_CHECKSUM=f4f23

RANCHER_NODE_LABEL=cattle.io/os=linux
RANCHER_CURL_INSECURE=true
RANCHER_NO_LOG=true

TAILSCALE_IFACE=tailscale0
FIX_COREDNS_FOR_RANCHER_HOSTNAME=true
FORCE_TAILSCALE_NODE_IP=true

RANCHER_AGENT_TLS_MODE=system-store
K3S_CHANNEL=v1.35
KUBECONFIG_PATH=/etc/rancher/k3s/k3s.yaml
RANCHER_PASSWORD_FILE=/root/rancher-bootstrap-password.txt

