[defaults]
inventory = inventory/inventory.yml
interpreter_python = auto_silent
timeout = 60

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
retries = 10
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15 -o ServerAliveCountMax=8 -o TCPKeepAlive=yes -o ConnectionAttempts=10 -o ConnectTimeout=30
